<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./day.js"></script>
    <title>computed简写</title>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br/>
        名：<input type="text" v-model="lastName" ><br/>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false
        var vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三',
                fullName: '张-三'
            },
            // 计算属性，完全依靠return的值，计算属性不能依靠异步操作完成等一等的操作
            // 当计算属性和侦听属性都可以完成的时候，优先计算属性
            // 当需要使用异步操作的时候，需要使用watch
            computed:{
                // fullName() {
                //     setTimeout(()=>{
                        //下面的返回值交给了setTimeOut里边的回调函数，并没有给fullName返回
                //         return this.firstName + "-" + this.lastName
                //     }, 1000)
                // },
                // fullName() {
                //     return this.firstName + "-" + this.lastName
                // }
            },
            watch:{
                firstName(newValue) {
                    setTimeout(()=>{
                        this.fullName = newValue + "-" + this.lastName
                    }, 1000)
                },
                lastName(newValue) {
                    setTimeout(()=>{
                        this.fullName = this.firstName + "-" + newValue
                    }, 1000)
                },
            }
        })
        // computed和watch总结
        // 1，computed能完成的功能，watch都可以完成
        // 2，watch能完成的功能，computed不一定能完成，例如watch可以进行异步操作
        // 两个重要的小原则：
        // 1，所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或者组件实例对象
        // 2，所有不被Vue所管理的函数（定时器的回调，ajax的回调函数等），最好写成箭头函数，这样this的指向才是vm或者组件实例对象
    </script>
</body>

</html>